<!DOCTYPE html>
<html>
<head>
  <title>StateMachineHeystak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <p class="navbar-text pull-right">
  <div class="wrap">
    <nav>
      <ul class="menu">
        <li><a href="/"><span class="iconic home"></span> Home</a></li>
        <li><a href="/state_machines"><span class="iconic plus-alt"></span> State Machine Design</a></li>
        <li><a><span class="iconic mail"></span> Logged in as <strong><%= current_user.email %></strong></a>
          <ul>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </nav>
  </div>
  <%= yield %>
<% end %>
</body>
</html>
